<a href="https://colab.research.google.com/github/dnjswnsthd/bnk_py/blob/develop/3_pandas_lab_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Pandas</h1>

# import

In [ ]:
import numpy as np
import pandas as pd
pd.__version__

'1.3.5'

# Series, DataFrame

## Series 생성

In [ ]:
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
s2 = pd.Series([10,20,30,40], index=['a','b','c','d'], dtype=np.float64, name="my")
s2

a    10.0
b    20.0
c    30.0
d    40.0
Name: my, dtype: float64

## Series의 주요속성

In [ ]:
s.shape, s2.shape

((4,), (4,))

In [ ]:
s.dtype, s2.dtype

(dtype('int64'), dtype('float64'))

In [ ]:
s.index, s2.index

(RangeIndex(start=0, stop=4, step=1),
 Index(['a', 'b', 'c', 'd'], dtype='object'))

In [ ]:
s.values, s2.values

(array([10, 20, 30, 40]), array([10., 20., 30., 40.]))

## DataFrame 생성

In [ ]:
df = pd.DataFrame([[10,20,30],
                   [40,50,60]])
df

    0   1   2
0  10  20  30
1  40  50  60

In [ ]:
df2 = pd.DataFrame([[10,20,30], [40,50,60]], index=['a','b'])
df2

    0   1   2
a  10  20  30
b  40  50  60

In [ ]:
df3 = pd.DataFrame([[10,20,30],
                    [40,50,60]], index=['a','b'],
                                 columns=['A','B','C'])
df3

    A   B   C
a  10  20  30
b  40  50  60

In [ ]:
df3.shape

(2, 3)

In [ ]:
df3.index

Index(['a', 'b'], dtype='object')

In [ ]:
df3.columns

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
df3.values

array([[10, 20, 30],
       [40, 50, 60]])

In [ ]:
df3.T

    a   b
A  10  40
B  20  50
C  30  60

In [ ]:
df4 = pd.DataFrame({
    'name': ['Kim', 'Lee', 'Park'],
    'age' : [27, 24, 31]
})
df4

   name  age
0   Kim   27
1   Lee   24
2  Park   31

In [ ]:
names = pd.Series(['Kim', 'Lee', "Park"], index=['a','b','c'])
ages = pd.Series([27,24,31], index=['a','b','c'])

df5 = pd.DataFrame({'name': names, 'age':ages})
df5

   name  age
a   Kim   27
b   Lee   24
c  Park   31

## DataFrame의 주요속성

In [ ]:
df5.dtypes

name    object
age      int64
dtype: object

In [ ]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

# File I/O

In [ ]:
url_tips = 'https://www.dropbox.com/s/6hcpx66uwecoq0c/tips.csv?dl=1'
file_tips = 'tips.csv'
import os
if os.name == 'posix':
  !wget -O $file_tips $url_tips
else:
  !pip install wget
  import wget
  wget.download(url_tips, out=file_tips)

--2022-09-14 08:44:13--  https://www.dropbox.com/s/6hcpx66uwecoq0c/tips.csv?dl=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.18, 2620:100:6016:18::a27d:112
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/dl/6hcpx66uwecoq0c/tips.csv [following]
--2022-09-14 08:44:13--  https://www.dropbox.com/s/dl/6hcpx66uwecoq0c/tips.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc37dbf3eb598551a7a563cc2e1b.dl.dropboxusercontent.com/cd/0/get/Bs6oGarXdLDR9G1LOX27WDKde5N-Ytzmn6AAfPKXJ3KfrXd41_IHHttlGZpuwVxkZ1g9E7DSa2bvfGvlzYne0PbvZWRyjlZ4wjYe2DR1_pxDY_0ioYIUhsoZaVy89vmsFOWiwN_pYkalIKelXyivXhi_T5_L24O8CC5H2jWmXT0Lwg/file?dl=1# [following]
--2022-09-14 08:44:14--  https://uc37dbf3eb598551a7a563cc2e1b.dl.dropboxusercontent.com/cd/0/get/Bs6oGarXdLDR9G1LOX27WDKde5N-Ytzmn6AAfPKXJ3KfrXd41_IHHttlGZpuwVxkZ1g9E7DSa2bvfGvlzYne0PbvZWRyjlZ4wjYe2DR1_pxDY_0ioYIUhsoZaVy89vmsFOWiwN_pYkalIKelXyivXhi_T5_L24O8CC5H2jWmXT0Lwg/file?dl=1
Resolving uc37dbf3eb598551a7a563cc2e1b.dl.dropboxusercontent.com (uc37dbf3eb598551a7a563cc2e1b.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6016:15::a27d:10f
Connecting to uc37dbf3eb598551a7a563cc2e1b.dl.dropboxusercontent.com (uc37dbf3eb598551a7a563cc2e1b.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9729 (9.5K) [application/binary]
Saving to: ‘tips.csv’

tips.csv            100%[===================>]   9.50K  --.-KB/s    in 0s

2022-09-14 08:44:14 (170 MB/s) - ‘tips.csv’ saved [9729/9729]

## CSV

In [ ]:
!cat tips.csv

"total_bill","tip","sex","smoker","day","time","size"
16.99,1.01,"Female","No","Sun","Dinner",2
10.34,1.66,"Male","No","Sun","Dinner",3
21.01,3.5,"Male","No","Sun","Dinner",3
23.68,3.31,"Male","No","Sun","Dinner",2
24.59,3.61,"Female","No","Sun","Dinner",4
25.29,4.71,"Male","No","Sun","Dinner",4
8.77,2,"Male","No","Sun","Dinner",2
26.88,3.12,"Male","No","Sun","Dinner",4
15.04,1.96,"Male","No","Sun","Dinner",2
14.78,3.23,"Male","No","Sun","Dinner",2
10.27,1.71,"Male","No","Sun","Dinner",2
35.26,5,"Female","No","Sun","Dinner",4
15.42,1.57,"Male","No","Sun","Dinner",2
18.43,3,"Male","No","Sun","Dinner",4
14.83,3.02,"Female","No","Sun","Dinner",2
21.58,3.92,"Male","No","Sun","Dinner",2
10.33,1.67,"Female","No","Sun","Dinner",3
16.29,3.71,"Male","No","Sun","Dinner",3
16.97,3.5,"Female","No","Sun","Dinner",3
20.65,3.35,"Male","No","Sat","Dinner",3
17.92,4.08,"Male","No","Sat","Dinner",2
20.29,2.75,"Female","No","Sat","Dinner",2
15.77,2.23,"Female","No","Sat","Dinner",2
39.42,7.58,"Male","No","Sat","Dinner",4
19.82,3.18,"Male","No","Sat","Dinner",2
17.81,2.34,"Male","No","Sat","Dinner",4
13.37,2,"Male","No","Sat","Dinner",2
12.69,2,"Male","No","Sat","Dinner",2
21.7,4.3,"Male","No","Sat","Dinner",2
19.65,3,"Female","No","Sat","Dinner",2
9.55,1.45,"Male","No","Sat","Dinner",2
18.35,2.5,"Male","No","Sat","Dinner",4
15.06,3,"Female","No","Sat","Dinner",2
20.69,2.45,"Female","No","Sat","Dinner",4
17.78,3.27,"Male","No","Sat","Dinner",2
24.06,3.6,"Male","No","Sat","Dinner",3
16.31,2,"Male","No","Sat","Dinner",3
16.93,3.07,"Female","No","Sat","Dinner",3
18.69,2.31,"Male","No","Sat","Dinner",3
31.27,5,"Male","No","Sat","Dinner",3
16.04,2.24,"Male","No","Sat","Dinner",3
17.46,2.54,"Male","No","Sun","Dinner",2
13.94,3.06,"Male","No","Sun","Dinner",2
9.68,1.32,"Male","No","Sun","Dinner",2
30.4,5.6,"Male","No","Sun","Dinner",4
18.29,3,"Male","No","Sun","Dinner",2
22.23,5,"Male","No","Sun","Dinner",2
32.4,6,"Male","No","Sun","Dinner",4
28.55,2.05,"Male","No","Sun","Dinner",3
18.04,3,"Male","No","Sun","Dinner",2
12.54,2.5,"Male","No","Sun","Dinner",2
10.29,2.6,"Female","No","Sun","Dinner",2
34.81,5.2,"Female","No","Sun","Dinner",4
9.94,1.56,"Male","No","Sun","Dinner",2
25.56,4.34,"Male","No","Sun","Dinner",4
19.49,3.51,"Male","No","Sun","Dinner",2
38.01,3,"Male","Yes","Sat","Dinner",4
26.41,1.5,"Female","No","Sat","Dinner",2
11.24,1.76,"Male","Yes","Sat","Dinner",2
48.27,6.73,"Male","No","Sat","Dinner",4
20.29,3.21,"Male","Yes","Sat","Dinner",2
13.81,2,"Male","Yes","Sat","Dinner",2
11.02,1.98,"Male","Yes","Sat","Dinner",2
18.29,3.76,"Male","Yes","Sat","Dinner",4
17.59,2.64,"Male","No","Sat","Dinner",3
20.08,3.15,"Male","No","Sat","Dinner",3
16.45,2.47,"Female","No","Sat","Dinner",2
3.07,1,"Female","Yes","Sat","Dinner",1
20.23,2.01,"Male","No","Sat","Dinner",2
15.01,2.09,"Male","Yes","Sat","Dinner",2
12.02,1.97,"Male","No","Sat","Dinner",2
17.07,3,"Female","No","Sat","Dinner",3
26.86,3.14,"Female","Yes","Sat","Dinner",2
25.28,5,"Female","Yes","Sat","Dinner",2
14.73,2.2,"Female","No","Sat","Dinner",2
10.51,1.25,"Male","No","Sat","Dinner",2
17.92,3.08,"Male","Yes","Sat","Dinner",2
27.2,4,"Male","No","Thur","Lunch",4
22.76,3,"Male","No","Thur","Lunch",2
17.29,2.71,"Male","No","Thur","Lunch",2
19.44,3,"Male","Yes","Thur","Lunch",2
16.66,3.4,"Male","No","Thur","Lunch",2
10.07,1.83,"Female","No","Thur","Lunch",1
32.68,5,"Male","Yes","Thur","Lunch",2
15.98,2.03,"Male","No","Thur","Lunch",2
34.83,5.17,"Female","No","Thur","Lunch",4
13.03,2,"Male","No","Thur","Lunch",2
18.28,4,"Male","No","Thur","Lunch",2
24.71,5.85,"Male","No","Thur","Lunch",2
21.16,3,"Male","No","Thur","Lunch",2
28.97,3,"Male","Yes","Fri","Dinner",2
22.49,3.5,"Male","No","Fri","Dinner",2
5.75,1,"Female","Yes","Fri","Dinner",2
16.32,4.3,"Female","Yes","Fri","Dinner",2
22.75,3.25,"Female","No","Fri","Dinner",2
40.17,4.73,"Male","Yes","Fri","Dinner",4
27.28,4,"Male","Yes","Fri","Dinner",2
12.03,1.5,"Male","Yes","Fri","Dinner",2
21.01,3,"Male","Yes","Fri","Dinner",2
12.46,1.5,"Male","No","Fri","Dinner",2
11.35,2.5,"Female","Yes","Fri","Dinner",2
15.38,3,"Female","Yes","Fri","Dinner",2
44.3,2.5,"Female","Yes","Sat","Dinner",3
22.42,3.48,"Female","Yes","Sat","Dinner",2
20.92,4.08,"Female","No","Sat","Dinner",2
15.36,1.64,"Male","Yes","Sat","Dinner",2
20.49,4.06,"Male","Yes","Sat","Dinner",2
25.21,4.29,"Male","Yes","Sat","Dinner",2
18.24,3.76,"Male","No","Sat","Dinner",2
14.31,4,"Female","Yes","Sat","Dinner",2
14,3,"Male","No","Sat","Dinner",2
7.25,1,"Female","No","Sat","Dinner",1
38.07,4,"Male","No","Sun","Dinner",3
23.95,2.55,"Male","No","Sun","Dinner",2
25.71,4,"Female","No","Sun","Dinner",3
17.31,3.5,"Female","No","Sun","Dinner",2
29.93,5.07,"Male","No","Sun","Dinner",4
10.65,1.5,"Female","No","Thur","Lunch",2
12.43,1.8,"Female","No","Thur","Lunch",2
24.08,2.92,"Female","No","Thur","Lunch",4
11.69,2.31,"Male","No","Thur","Lunch",2
13.42,1.68,"Female","No","Thur","Lunch",2
14.26,2.5,"Male","No","Thur","Lunch",2
15.95,2,"Male","No","Thur","Lunch",2
12.48,2.52,"Female","No","Thur","Lunch",2
29.8,4.2,"Female","No","Thur","Lunch",6
8.52,1.48,"Male","No","Thur","Lunch",2
14.52,2,"Female","No","Thur","Lunch",2
11.38,2,"Female","No","Thur","Lunch",2
22.82,2.18,"Male","No","Thur","Lunch",3
19.08,1.5,"Male","No","Thur","Lunch",2
20.27,2.83,"Female","No","Thur","Lunch",2
11.17,1.5,"Female","No","Thur","Lunch",2
12.26,2,"Female","No","Thur","Lunch",2
18.26,3.25,"Female","No","Thur","Lunch",2
8.51,1.25,"Female","No","Thur","Lunch",2
10.33,2,"Female","No","Thur","Lunch",2
14.15,2,"Female","No","Thur","Lunch",2
16,2,"Male","Yes","Thur","Lunch",2
13.16,2.75,"Female","No","Thur","Lunch",2
17.47,3.5,"Female","No","Thur","Lunch",2
34.3,6.7,"Male","No","Thur","Lunch",6
41.19,5,"Male","No","Thur","Lunch",5
27.05,5,"Female","No","Thur","Lunch",6
16.43,2.3,"Female","No","Thur","Lunch",2
8.35,1.5,"Female","No","Thur","Lunch",2
18.64,1.36,"Female","No","Thur","Lunch",3
11.87,1.63,"Female","No","Thur","Lunch",2
9.78,1.73,"Male","No","Thur","Lunch",2
7.51,2,"Male","No","Thur","Lunch",2
14.07,2.5,"Male","No","Sun","Dinner",2
13.13,2,"Male","No","Sun","Dinner",2
17.26,2.74,"Male","No","Sun","Dinner",3
24.55,2,"Male","No","Sun","Dinner",4
19.77,2,"Male","No","Sun","Dinner",4
29.85,5.14,"Female","No","Sun","Dinner",5
48.17,5,"Male","No","Sun","Dinner",6
25,3.75,"Female","No","Sun","Dinner",4
13.39,2.61,"Female","No","Sun","Dinner",2
16.49,2,"Male","No","Sun","Dinner",4
21.5,3.5,"Male","No","Sun","Dinner",4
12.66,2.5,"Male","No","Sun","Dinner",2
16.21,2,"Female","No","Sun","Dinner",3
13.81,2,"Male","No","Sun","Dinner",2
17.51,3,"Female","Yes","Sun","Dinner",2
24.52,3.48,"Male","No","Sun","Dinner",3
20.76,2.24,"Male","No","Sun","Dinner",2
31.71,4.5,"Male","No","Sun","Dinner",4
10.59,1.61,"Female","Yes","Sat","Dinner",2
10.63,2,"Female","Yes","Sat","Dinner",2
50.81,10,"Male","Yes","Sat","Dinner",3
15.81,3.16,"Male","Yes","Sat","Dinner",2
7.25,5.15,"Male","Yes","Sun","Dinner",2
31.85,3.18,"Male","Yes","Sun","Dinner",2
16.82,4,"Male","Yes","Sun","Dinner",2
32.9,3.11,"Male","Yes","Sun","Dinner",2
17.89,2,"Male","Yes","Sun","Dinner",2
14.48,2,"Male","Yes","Sun","Dinner",2
9.6,4,"Female","Yes","Sun","Dinner",2
34.63,3.55,"Male","Yes","Sun","Dinner",2
34.65,3.68,"Male","Yes","Sun","Dinner",4
23.33,5.65,"Male","Yes","Sun","Dinner",2
45.35,3.5,"Male","Yes","Sun","Dinner",3
23.17,6.5,"Male","Yes","Sun","Dinner",4
40.55,3,"Male","Yes","Sun","Dinner",2
20.69,5,"Male","No","Sun","Dinner",5
20.9,3.5,"Female","Yes","Sun","Dinner",3
30.46,2,"Male","Yes","Sun","Dinner",5
18.15,3.5,"Female","Yes","Sun","Dinner",3
23.1,4,"Male","Yes","Sun","Dinner",3
15.69,1.5,"Male","Yes","Sun","Dinner",2
19.81,4.19,"Female","Yes","Thur","Lunch",2
28.44,2.56,"Male","Yes","Thur","Lunch",2
15.48,2.02,"Male","Yes","Thur","Lunch",2
16.58,4,"Male","Yes","Thur","Lunch",2
7.56,1.44,"Male","No","Thur","Lunch",2
10.34,2,"Male","Yes","Thur","Lunch",2
43.11,5,"Female","Yes","Thur","Lunch",4
13,2,"Female","Yes","Thur","Lunch",2
13.51,2,"Male","Yes","Thur","Lunch",2
18.71,4,"Male","Yes","Thur","Lunch",3
12.74,2.01,"Female","Yes","Thur","Lunch",2
13,2,"Female","Yes","Thur","Lunch",2
16.4,2.5,"Female","Yes","Thur","Lunch",2
20.53,4,"Male","Yes","Thur","Lunch",4
16.47,3.23,"Female","Yes","Thur","Lunch",3
26.59,3.41,"Male","Yes","Sat","Dinner",3
38.73,3,"Male","Yes","Sat","Dinner",4
24.27,2.03,"Male","Yes","Sat","Dinner",2
12.76,2.23,"Female","Yes","Sat","Dinner",2
30.06,2,"Male","Yes","Sat","Dinner",3
25.89,5.16,"Male","Yes","Sat","Dinner",4
48.33,9,"Male","No","Sat","Dinner",4
13.27,2.5,"Female","Yes","Sat","Dinner",2
28.17,6.5,"Female","Yes","Sat","Dinner",3
12.9,1.1,"Female","Yes","Sat","Dinner",2
28.15,3,"Male","Yes","Sat","Dinner",5
11.59,1.5,"Male","Yes","Sat","Dinner",2
7.74,1.44,"Male","Yes","Sat","Dinner",2
30.14,3.09,"Female","Yes","Sat","Dinner",4
12.16,2.2,"Male","Yes","Fri","Lunch",2
13.42,3.48,"Female","Yes","Fri","Lunch",2
8.58,1.92,"Male","Yes","Fri","Lunch",1
15.98,3,"Female","No","Fri","Lunch",3
13.42,1.58,"Male","Yes","Fri","Lunch",2
16.27,2.5,"Female","Yes","Fri","Lunch",2
10.09,2,"Female","Yes","Fri","Lunch",2
20.45,3,"Male","No","Sat","Dinner",4
13.28,2.72,"Male","No","Sat","Dinner",2
22.12,2.88,"Female","Yes","Sat","Dinner",2
24.01,2,"Male","Yes","Sat","Dinner",4
15.69,3,"Male","Yes","Sat","Dinner",3
11.61,3.39,"Male","No","Sat","Dinner",2
10.77,1.47,"Male","No","Sat","Dinner",2
15.53,3,"Male","Yes","Sat","Dinner",2
10.07,1.25,"Male","No","Sat","Dinner",2
12.6,1,"Male","Yes","Sat","Dinner",2
32.83,1.17,"Male","Yes","Sat","Dinner",2
35.83,4.67,"Female","No","Sat","Dinner",3
29.03,5.92,"Male","No","Sat","Dinner",3
27.18,2,"Female","Yes","Sat","Dinner",2
22.67,2,"Male","Yes","Sat","Dinner",2
17.82,1.75,"Male","No","Sat","Dinner",2
18.78,3,"Female","No","Thur","Dinner",2

In [ ]:
df = pd.read_csv('tips.csv')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
df.to_csv('my.csv', index=False)

## Excel

# 3. 데이터 조회

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC'), index=list('abcd'))
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

## Series loc, iloc Indexer

### Default index

In [ ]:
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

#### signle indexing

#### slicing

#### bool indexing

#### Fancy Indexing

### 문자 index

In [ ]:
s2 = pd.Series([10,20,30,40],
               index=['a', 'b', 'c', 'd'])
s2

a    10
b    20
c    30
d    40
dtype: int64

#### single indexing

#### slicing

#### bool indexing

#### fancy indexing

### 숫자 index

In [ ]:
s3 = pd.Series([10,20,30,40],
               index=[1,2,4,5])
s3

1    10
2    20
4    30
5    40
dtype: int64

#### single indexing

#### slicing

#### bool indexing

#### Fancy indexing

## DataFrame loc, iloc Indexer

### Default index

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4,3))
df

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

#### 행선택

#### 열선택

#### single indexing

#### slicing

#### bool indexing

#### Fancy Indexing

#### 혼합

### 문자 index

In [ ]:
df2 = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC'), index=list('abcd'))
df2

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

#### single indexing

#### slicing, Fancy Indexing

### indexer 접근 속도 비교

In [ ]:
%timeit -n 10000 -r 5 df2.loc['c', 'C' ]

10000 loops, best of 5: 16.9 µs per loop

In [ ]:
%timeit -n 10000 -r 5 df2.at['c', 'C']

10000 loops, best of 5: 7.67 µs per loop

In [ ]:
%timeit -n 10000 -r 5 df2.iloc[2, 2 ]

10000 loops, best of 5: 52.3 µs per loop

In [ ]:
%timeit -n 10000 -r 5 df2.iat[2, 2 ]

10000 loops, best of 5: 42.3 µs per loop

## Series Direct Indexing

### Default index

In [ ]:
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

### 문자 index

In [ ]:
s1 = pd.Series([10,20,30,40],
              index=['a', 'b', 'c', 'd'])
s1

a    10
b    20
c    30
d    40
dtype: int64

### 숫자 index

In [ ]:
s2 = pd.Series([10,20,30,40],
               index=[1,2,3,4])
s2

1    10
2    20
3    30
4    40
dtype: int64

## DataFrame Direct Indexing

### Default index

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4,3))
df

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

### 문자 index

In [ ]:
df1 = pd.DataFrame(np.arange(12).reshape(4,3),
                   columns=list('ABC'),
                   index=list('abcd'))
df1

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

### single indexing

## 조건 검색

In [ ]:
df = pd.DataFrame({'name': ['Kim', 'Lee', 'Park', 'Choi'],
                   'age': [24, 27, 34, 19],
                   'sex': ['F', 'M', 'F', 'M']})
df

   name  age sex
0   Kim   24   F
1   Lee   27   M
2  Park   34   F
3  Choi   19   M

### 20세 이상 데이터만 검색

### 조건 연산

### isin()

### df.query()

## head(), tail()

In [ ]:
df = pd.read_csv('tips.csv')

## 정렬

In [ ]:
np.random.seed(0)
df = pd.DataFrame(np.random.random((5,4)),
                  columns=list('BADC'),
                  index=[1,0,2,4,3])
df

          B         A         D         C
1  0.548814  0.715189  0.602763  0.544883
0  0.423655  0.645894  0.437587  0.891773
2  0.963663  0.383442  0.791725  0.528895
4  0.568045  0.925597  0.071036  0.087129
3  0.020218  0.832620  0.778157  0.870012

# 기술 통계

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4,3), columns=list('ABC'))
df

   A   B   C
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [ ]:
df1 = pd.DataFrame({'name': ['Kim', 'Lee', 'Park', 'Choi'],
                   'age': [24, 27, 34, 19],
                   'sex': ['F', 'M', 'F', 'M']})
df1

   name  age sex
0   Kim   24   F
1   Lee   27   M
2  Park   34   F
3  Choi   19   M

In [ ]:
import seaborn as sns
#tips = pd.read_csv('tips.csv')
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# 4. 데이터 추가,수정,삭제

## 행 추가

In [ ]:
df = pd.DataFrame([[1, 2],
                   [3, 4]],
                   columns=list('BA'),
                   index=list('ab'))
df

   B  A
a  1  2
b  3  4

In [ ]:
df2 = pd.DataFrame([[5, 6],
                    [7, 8]],
                    columns=list('BA'),
                    index=list('ab'))
df2

   B  A
a  5  6
b  7  8

## 열 추가

In [ ]:
df = pd.DataFrame([[1, 2],
                   [11, 22],
                   [111, 222]],
                   columns=list('AB'),
                   index=list('abc'))
df

     A    B
a    1    2
b   11   22
c  111  222

In [ ]:
df = pd.DataFrame([[1, 2],
                   [11, 22],
                   [111, 222]],
                   columns=list('AB'),
                   index=list('abc'))
df

     A    B
a    1    2
b   11   22
c  111  222

## 행/열 삭제

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC'),
                  index=list('abcd'))
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

## 누락 데이터

In [ ]:
df = pd.DataFrame([[1,2,3],
                   [4, None, None],
                   [None, None, None],
                   [None, 5,6]])
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  5.0  6.0

In [ ]:
df = pd.DataFrame([1, None, 3, 4,None, 6, 7],
                  index=[1,5,6,9,10,11,20])
df

      0
1   1.0
5   NaN
6   3.0
9   4.0
10  NaN
11  6.0
20  7.0

# 4. 데이터 변환

## astype()

In [ ]:
df = pd.DataFrame({'A':[1,2,3,4],
                   'B': [1.2, 2.3, 3.4, 4.5],
                   'C': ['10', '20', '30', '40'],
                   'D': ['3.14', '4.12', '0.1', '1.23']})
df

   A    B   C     D
0  1  1.2  10  3.14
1  2  2.3  20  4.12
2  3  3.4  30   0.1
3  4  4.5  40  1.23

## 문자열

In [ ]:
df = pd.DataFrame({'A': ['$1,234', '$2,345', '$123'],
                   'B': ['111-222', '222-333', '333-444'],
                   'C': ['12m', '234g', '1234v']})
df

        A        B      C
0  $1,234  111-222    12m
1  $2,345  222-333   234g
2    $123  333-444  1234v

## to_numeric()

In [ ]:
df = pd.DataFrame({'A': ['10', '20', '30', '40'],
                   'B': ['3.14', '4.12', '0.1', '1.23'],
                   'C': ['12', '23', 'four', '55'],
                   'D': ['1,234', '12,345', '234', '21,345']
                  })

## where()

In [ ]:
df = pd.DataFrame(np.random.random((5,4)), columns=list('ABCD'))
df

          A         B         C         D
0  0.311452  0.080140  0.100214  0.444901
1  0.360854  0.870720  0.660202  0.272121
2  0.657934  0.618049  0.498842  0.720425
3  0.410328  0.236953  0.330757  0.114444
4  0.288347  0.626822  0.775684  0.220569

## transform(), apply()

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4,3), columns=list('ABC'))
df

   A   B   C
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

# 인덱스 관리

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC'),
                  index=list('abcd'))
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

## index name 속성

## 인덱스 이름 변경

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC'),
                  index=list('abcd'))
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

## 인덱스 재설정

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC'),
                  index=list('abcd'))
df['D'] = [10,20,10,20]
df

   A   B   C   D
a  0   1   2  10
b  3   4   5  20
c  6   7   8  10
d  9  10  11  20

## 인덱스 초기화

## Multi Index

# 병합과 집계

## concat

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

In [ ]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [ ]:
df3 = pd.DataFrame({'E': ['E1', 'E2', 'E3', 'E4'],
                    'F': ['F1', 'F2', 'F3', 'F4']},
                   index=[2,3,4,5])
df3

    E   F
2  E1  F1
3  E2  F2
4  E3  F3
5  E4  F4

## Merge

In [ ]:
df1 = pd.DataFrame({
    'key' : ['K1', 'K2', 'K3'],
    'l_value' : [1,2,3]
})
df2 = pd.DataFrame({
    'key': ['K0', 'K1', 'K3' ],
    'r_value' :[4,5,6]
})

In [ ]:
df1

  key  l_value
0  K1        1
1  K2        2
2  K3        3

In [ ]:
df2

  key  r_value
0  K0        4
1  K1        5
2  K3        6

## Pivot

In [ ]:
url_flights = 'https://www.dropbox.com/s/3d09f5fwlze4156/flights.csv?dl=1'
file_flights = 'flights.csv'
import os
if os.name == 'posix:
  !wget -O $file_flights $url_flights
else:
  !pip install wget
  import wget
  wget.download(url_flights, out=file_flights)

In [ ]:
#flights = pd.read_csv('flights.csv')
flights = sns.load_dataset()
flights

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

## groupby

# 시계열, 범주 데이터

## 날짜 데이터(dtype: datetime64)

In [ ]:
s = pd.Series(['20210101', '20210125', '20211115'])
s

0    20210101
1    20210125
2    20211115
dtype: object

## pd.to_datetime()
* format : https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes
* Time/date components : https://pandas.pydata.org/docs/user_guide/timeseries.html#time-date-components
* offset-aliases : https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-offset-aliases
* time zone : https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

In [ ]:
df = pd.DataFrame({'year': [2017, 1987, 1945],
                   'month': [3,6,8],
                   'day': [10, 10, 15]})
pd.to_datetime(df)

0   2017-03-10
1   1987-06-10
2   1945-08-15
dtype: datetime64[ns]

In [ ]:
df = pd.DataFrame({'date': pd.to_datetime(['2017-03-10', '1987-06-10'])})
df

        date
0 2017-03-10
1 1987-06-10

## date_range()

## 날짜 계산

## 날짜 인덱스

In [ ]:
df = pd.DataFrame(np.random.randn(4,3),
                 index=pd.date_range('20210125', periods=4),
                 columns=list('ABC'))
df

                   A         B         C
2021-01-25  0.803138  1.692356 -0.435747
2021-01-26 -0.517309  1.023791 -0.498187
2021-01-27  0.955013  0.331539 -0.567991
2021-01-28 -0.467417  0.206285 -0.803872

## 범주 데이터 (dtype: category)

In [ ]:
s = pd.Series(['a', 'b', 'c', 'a'])
s

0    a
1    b
2    c
3    a
dtype: object

## pd.Categorical()

In [ ]:
cat = pd.Categorical(['a', 'b', 'c', 'a'], categories=['a','b','c'])
cat

['a', 'b', 'c', 'a']
Categories (3, object): ['a', 'b', 'c']

## pd.cut()