<a href="https://colab.research.google.com/github/dnjswnsthd/bnk_py/blob/develop/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Pandas</h1>

# import

In [1]:
import numpy as np
import pandas as pd
pd.__version__

'1.3.5'

# Series, DataFrame

## Series 생성

In [ ]:
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
s2 = pd.Series([10,20,30,40], index=['a','b','c','d'], dtype=np.float64, name="my")
s2

a    10.0
b    20.0
c    30.0
d    40.0
Name: my, dtype: float64

## Series의 주요속성

In [ ]:
s.shape, s2.shape

((4,), (4,))

In [ ]:
s.dtype, s2.dtype

(dtype('int64'), dtype('float64'))

In [ ]:
s.index, s2.index

(RangeIndex(start=0, stop=4, step=1),
 Index(['a', 'b', 'c', 'd'], dtype='object'))

In [ ]:
s.values, s2.values

(array([10, 20, 30, 40]), array([10., 20., 30., 40.]))

## DataFrame 생성

In [ ]:
df = pd.DataFrame([[10,20,30],
                   [40,50,60]])
df

    0   1   2
0  10  20  30
1  40  50  60

In [ ]:
df2 = pd.DataFrame([[10,20,30], [40,50,60]], index=['a','b'])
df2

    0   1   2
a  10  20  30
b  40  50  60

In [ ]:
df3 = pd.DataFrame([[10,20,30], [40,50,60]], index=['a','b'], columns=['A', 'B', 'C'])
df3

    A   B   C
a  10  20  30
b  40  50  60

In [ ]:
df3.shape

(2, 3)

In [ ]:
df3.index

Index(['a', 'b'], dtype='object')

In [ ]:
df3.columns

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
df3.values

array([[10, 20, 30],
       [40, 50, 60]])

In [ ]:
df3.T

    a   b
A  10  40
B  20  50
C  30  60

In [ ]:
df4 = pd.DataFrame({
    'name':['Kim', 'Lee', 'Park'],
    'age':[27, 24, 31]
})
df4

   name  age
0   Kim   27
1   Lee   24
2  Park   31

In [ ]:
names = pd.Series(['Kim', 'Lee', 'Park'], index=['a','b','c'])
ages = pd.Series([27,24,31], index=['a','b','c'])
df5 = pd.DataFrame({'name':names, 'age':ages})
df5

name    object
age      int64
dtype: object

## DataFrame의 주요속성

In [ ]:
df5.dtypes #df5.dtype는 에러 numpy에서는 타입이 하나일꺼라 생각하기 때문에 단수

name    object
age      int64
dtype: object

In [ ]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

# File I/O

In [2]:
url_tips = 'https://www.dropbox.com/s/6hcpx66uwecoq0c/tips.csv?dl=1'
file_tips = 'tips.csv'
import os
if os.name == 'posix':
  !wget -O $file_tips $url_tips
else:
  !pip install wget
  import wget
  wget.download(url_tips, out=file_tips)

--2022-09-15 00:11:05--  https://www.dropbox.com/s/6hcpx66uwecoq0c/tips.csv?dl=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.65.18, 2620:100:6017:18::a27d:212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.65.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/dl/6hcpx66uwecoq0c/tips.csv [following]
--2022-09-15 00:11:06--  https://www.dropbox.com/s/dl/6hcpx66uwecoq0c/tips.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc5609ed65195094461741077d3b.dl.dropboxusercontent.com/cd/0/get/Bs9HDo7tWXU9ly0eklPldnxATk4aB0KKHK_139lRkUX_QWzz80xxPFKugFtI3DOU7ROkV2irxMrqmOMISSbps9gOrNJHS_JVsrt0y7fLQAyGMl8hQW5j5A8eZU2qrOBbUDZ6p0s9NgRr-vEbX-0NxGnjZDQSTn_rw9UGwVqtLAa5nw/file?dl=1# [following]
--2022-09-15 00:11:07--  https://uc5609ed65195094461741077d3b.dl.dropboxusercontent.com/cd/0/get/Bs9HDo7tWXU9ly0eklPldnxATk4aB0KKHK_139lRkUX_QWzz80xxPFKugFtI3DOU7ROkV2irxMrqmOMISSbps9gOrNJHS_JVsrt0y7fLQAyGMl8hQW5j5A8eZU2qrOBbUDZ6p0s9NgRr-vEbX-0NxGnjZDQSTn_rw9UGwVqtLAa5nw/file?dl=1
Resolving uc5609ed65195094461741077d3b.dl.dropboxusercontent.com (uc5609ed65195094461741077d3b.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6017:15::a27d:20f
Connecting to uc5609ed65195094461741077d3b.dl.dropboxusercontent.com (uc5609ed65195094461741077d3b.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9729 (9.5K) [application/binary]
Saving to: ‘tips.csv’

tips.csv            100%[===================>]   9.50K  --.-KB/s    in 0s

2022-09-15 00:11:07 (139 MB/s) - ‘tips.csv’ saved [9729/9729]

## CSV

In [ ]:
!cat tips.csv

"total_bill","tip","sex","smoker","day","time","size"
16.99,1.01,"Female","No","Sun","Dinner",2
10.34,1.66,"Male","No","Sun","Dinner",3
21.01,3.5,"Male","No","Sun","Dinner",3
23.68,3.31,"Male","No","Sun","Dinner",2
24.59,3.61,"Female","No","Sun","Dinner",4
25.29,4.71,"Male","No","Sun","Dinner",4
8.77,2,"Male","No","Sun","Dinner",2
26.88,3.12,"Male","No","Sun","Dinner",4
15.04,1.96,"Male","No","Sun","Dinner",2
14.78,3.23,"Male","No","Sun","Dinner",2
10.27,1.71,"Male","No","Sun","Dinner",2
35.26,5,"Female","No","Sun","Dinner",4
15.42,1.57,"Male","No","Sun","Dinner",2
18.43,3,"Male","No","Sun","Dinner",4
14.83,3.02,"Female","No","Sun","Dinner",2
21.58,3.92,"Male","No","Sun","Dinner",2
10.33,1.67,"Female","No","Sun","Dinner",3
16.29,3.71,"Male","No","Sun","Dinner",3
16.97,3.5,"Female","No","Sun","Dinner",3
20.65,3.35,"Male","No","Sat","Dinner",3
17.92,4.08,"Male","No","Sat","Dinner",2
20.29,2.75,"Female","No","Sat","Dinner",2
15.77,2.23,"Female","No","Sat","Dinner",2
39.42,7.58,"Male","No","Sat","Dinner",4
19.82,3.18,"Male","No","Sat","Dinner",2
17.81,2.34,"Male","No","Sat","Dinner",4
13.37,2,"Male","No","Sat","Dinner",2
12.69,2,"Male","No","Sat","Dinner",2
21.7,4.3,"Male","No","Sat","Dinner",2
19.65,3,"Female","No","Sat","Dinner",2
9.55,1.45,"Male","No","Sat","Dinner",2
18.35,2.5,"Male","No","Sat","Dinner",4
15.06,3,"Female","No","Sat","Dinner",2
20.69,2.45,"Female","No","Sat","Dinner",4
17.78,3.27,"Male","No","Sat","Dinner",2
24.06,3.6,"Male","No","Sat","Dinner",3
16.31,2,"Male","No","Sat","Dinner",3
16.93,3.07,"Female","No","Sat","Dinner",3
18.69,2.31,"Male","No","Sat","Dinner",3
31.27,5,"Male","No","Sat","Dinner",3
16.04,2.24,"Male","No","Sat","Dinner",3
17.46,2.54,"Male","No","Sun","Dinner",2
13.94,3.06,"Male","No","Sun","Dinner",2
9.68,1.32,"Male","No","Sun","Dinner",2
30.4,5.6,"Male","No","Sun","Dinner",4
18.29,3,"Male","No","Sun","Dinner",2
22.23,5,"Male","No","Sun","Dinner",2
32.4,6,"Male","No","Sun","Dinner",4
28.55,2.05,"Male","No","Sun","Dinner",3
18.04,3,"Male","No","Sun","Dinner",2
12.54,2.5,"Male","No","Sun","Dinner",2
10.29,2.6,"Female","No","Sun","Dinner",2
34.81,5.2,"Female","No","Sun","Dinner",4
9.94,1.56,"Male","No","Sun","Dinner",2
25.56,4.34,"Male","No","Sun","Dinner",4
19.49,3.51,"Male","No","Sun","Dinner",2
38.01,3,"Male","Yes","Sat","Dinner",4
26.41,1.5,"Female","No","Sat","Dinner",2
11.24,1.76,"Male","Yes","Sat","Dinner",2
48.27,6.73,"Male","No","Sat","Dinner",4
20.29,3.21,"Male","Yes","Sat","Dinner",2
13.81,2,"Male","Yes","Sat","Dinner",2
11.02,1.98,"Male","Yes","Sat","Dinner",2
18.29,3.76,"Male","Yes","Sat","Dinner",4
17.59,2.64,"Male","No","Sat","Dinner",3
20.08,3.15,"Male","No","Sat","Dinner",3
16.45,2.47,"Female","No","Sat","Dinner",2
3.07,1,"Female","Yes","Sat","Dinner",1
20.23,2.01,"Male","No","Sat","Dinner",2
15.01,2.09,"Male","Yes","Sat","Dinner",2
12.02,1.97,"Male","No","Sat","Dinner",2
17.07,3,"Female","No","Sat","Dinner",3
26.86,3.14,"Female","Yes","Sat","Dinner",2
25.28,5,"Female","Yes","Sat","Dinner",2
14.73,2.2,"Female","No","Sat","Dinner",2
10.51,1.25,"Male","No","Sat","Dinner",2
17.92,3.08,"Male","Yes","Sat","Dinner",2
27.2,4,"Male","No","Thur","Lunch",4
22.76,3,"Male","No","Thur","Lunch",2
17.29,2.71,"Male","No","Thur","Lunch",2
19.44,3,"Male","Yes","Thur","Lunch",2
16.66,3.4,"Male","No","Thur","Lunch",2
10.07,1.83,"Female","No","Thur","Lunch",1
32.68,5,"Male","Yes","Thur","Lunch",2
15.98,2.03,"Male","No","Thur","Lunch",2
34.83,5.17,"Female","No","Thur","Lunch",4
13.03,2,"Male","No","Thur","Lunch",2
18.28,4,"Male","No","Thur","Lunch",2
24.71,5.85,"Male","No","Thur","Lunch",2
21.16,3,"Male","No","Thur","Lunch",2
28.97,3,"Male","Yes","Fri","Dinner",2
22.49,3.5,"Male","No","Fri","Dinner",2
5.75,1,"Female","Yes","Fri","Dinner",2
16.32,4.3,"Female","Yes","Fri","Dinner",2
22.75,3.25,"Female","No","Fri","Dinner",2
40.17,4.73,"Male","Yes","Fri","Dinner",4
27.28,4,"Male","Yes","Fri","Dinner",2
12.03,1.5,"Male","Yes","Fri","Dinner",2
21.01,3,"Male","Yes","Fri","Dinner",2
12.46,1.5,"Male","No","Fri","Dinner",2
11.35,2.5,"Female","Yes","Fri","Dinner",2
15.38,3,"Female","Yes","Fri","Dinner",2
44.3,2.5,"Female","Yes","Sat","Dinner",3
22.42,3.48,"Female","Yes","Sat","Dinner",2
20.92,4.08,"Female","No","Sat","Dinner",2
15.36,1.64,"Male","Yes","Sat","Dinner",2
20.49,4.06,"Male","Yes","Sat","Dinner",2
25.21,4.29,"Male","Yes","Sat","Dinner",2
18.24,3.76,"Male","No","Sat","Dinner",2
14.31,4,"Female","Yes","Sat","Dinner",2
14,3,"Male","No","Sat","Dinner",2
7.25,1,"Female","No","Sat","Dinner",1
38.07,4,"Male","No","Sun","Dinner",3
23.95,2.55,"Male","No","Sun","Dinner",2
25.71,4,"Female","No","Sun","Dinner",3
17.31,3.5,"Female","No","Sun","Dinner",2
29.93,5.07,"Male","No","Sun","Dinner",4
10.65,1.5,"Female","No","Thur","Lunch",2
12.43,1.8,"Female","No","Thur","Lunch",2
24.08,2.92,"Female","No","Thur","Lunch",4
11.69,2.31,"Male","No","Thur","Lunch",2
13.42,1.68,"Female","No","Thur","Lunch",2
14.26,2.5,"Male","No","Thur","Lunch",2
15.95,2,"Male","No","Thur","Lunch",2
12.48,2.52,"Female","No","Thur","Lunch",2
29.8,4.2,"Female","No","Thur","Lunch",6
8.52,1.48,"Male","No","Thur","Lunch",2
14.52,2,"Female","No","Thur","Lunch",2
11.38,2,"Female","No","Thur","Lunch",2
22.82,2.18,"Male","No","Thur","Lunch",3
19.08,1.5,"Male","No","Thur","Lunch",2
20.27,2.83,"Female","No","Thur","Lunch",2
11.17,1.5,"Female","No","Thur","Lunch",2
12.26,2,"Female","No","Thur","Lunch",2
18.26,3.25,"Female","No","Thur","Lunch",2
8.51,1.25,"Female","No","Thur","Lunch",2
10.33,2,"Female","No","Thur","Lunch",2
14.15,2,"Female","No","Thur","Lunch",2
16,2,"Male","Yes","Thur","Lunch",2
13.16,2.75,"Female","No","Thur","Lunch",2
17.47,3.5,"Female","No","Thur","Lunch",2
34.3,6.7,"Male","No","Thur","Lunch",6
41.19,5,"Male","No","Thur","Lunch",5
27.05,5,"Female","No","Thur","Lunch",6
16.43,2.3,"Female","No","Thur","Lunch",2
8.35,1.5,"Female","No","Thur","Lunch",2
18.64,1.36,"Female","No","Thur","Lunch",3
11.87,1.63,"Female","No","Thur","Lunch",2
9.78,1.73,"Male","No","Thur","Lunch",2
7.51,2,"Male","No","Thur","Lunch",2
14.07,2.5,"Male","No","Sun","Dinner",2
13.13,2,"Male","No","Sun","Dinner",2
17.26,2.74,"Male","No","Sun","Dinner",3
24.55,2,"Male","No","Sun","Dinner",4
19.77,2,"Male","No","Sun","Dinner",4
29.85,5.14,"Female","No","Sun","Dinner",5
48.17,5,"Male","No","Sun","Dinner",6
25,3.75,"Female","No","Sun","Dinner",4
13.39,2.61,"Female","No","Sun","Dinner",2
16.49,2,"Male","No","Sun","Dinner",4
21.5,3.5,"Male","No","Sun","Dinner",4
12.66,2.5,"Male","No","Sun","Dinner",2
16.21,2,"Female","No","Sun","Dinner",3
13.81,2,"Male","No","Sun","Dinner",2
17.51,3,"Female","Yes","Sun","Dinner",2
24.52,3.48,"Male","No","Sun","Dinner",3
20.76,2.24,"Male","No","Sun","Dinner",2
31.71,4.5,"Male","No","Sun","Dinner",4
10.59,1.61,"Female","Yes","Sat","Dinner",2
10.63,2,"Female","Yes","Sat","Dinner",2
50.81,10,"Male","Yes","Sat","Dinner",3
15.81,3.16,"Male","Yes","Sat","Dinner",2
7.25,5.15,"Male","Yes","Sun","Dinner",2
31.85,3.18,"Male","Yes","Sun","Dinner",2
16.82,4,"Male","Yes","Sun","Dinner",2
32.9,3.11,"Male","Yes","Sun","Dinner",2
17.89,2,"Male","Yes","Sun","Dinner",2
14.48,2,"Male","Yes","Sun","Dinner",2
9.6,4,"Female","Yes","Sun","Dinner",2
34.63,3.55,"Male","Yes","Sun","Dinner",2
34.65,3.68,"Male","Yes","Sun","Dinner",4
23.33,5.65,"Male","Yes","Sun","Dinner",2
45.35,3.5,"Male","Yes","Sun","Dinner",3
23.17,6.5,"Male","Yes","Sun","Dinner",4
40.55,3,"Male","Yes","Sun","Dinner",2
20.69,5,"Male","No","Sun","Dinner",5
20.9,3.5,"Female","Yes","Sun","Dinner",3
30.46,2,"Male","Yes","Sun","Dinner",5
18.15,3.5,"Female","Yes","Sun","Dinner",3
23.1,4,"Male","Yes","Sun","Dinner",3
15.69,1.5,"Male","Yes","Sun","Dinner",2
19.81,4.19,"Female","Yes","Thur","Lunch",2
28.44,2.56,"Male","Yes","Thur","Lunch",2
15.48,2.02,"Male","Yes","Thur","Lunch",2
16.58,4,"Male","Yes","Thur","Lunch",2
7.56,1.44,"Male","No","Thur","Lunch",2
10.34,2,"Male","Yes","Thur","Lunch",2
43.11,5,"Female","Yes","Thur","Lunch",4
13,2,"Female","Yes","Thur","Lunch",2
13.51,2,"Male","Yes","Thur","Lunch",2
18.71,4,"Male","Yes","Thur","Lunch",3
12.74,2.01,"Female","Yes","Thur","Lunch",2
13,2,"Female","Yes","Thur","Lunch",2
16.4,2.5,"Female","Yes","Thur","Lunch",2
20.53,4,"Male","Yes","Thur","Lunch",4
16.47,3.23,"Female","Yes","Thur","Lunch",3
26.59,3.41,"Male","Yes","Sat","Dinner",3
38.73,3,"Male","Yes","Sat","Dinner",4
24.27,2.03,"Male","Yes","Sat","Dinner",2
12.76,2.23,"Female","Yes","Sat","Dinner",2
30.06,2,"Male","Yes","Sat","Dinner",3
25.89,5.16,"Male","Yes","Sat","Dinner",4
48.33,9,"Male","No","Sat","Dinner",4
13.27,2.5,"Female","Yes","Sat","Dinner",2
28.17,6.5,"Female","Yes","Sat","Dinner",3
12.9,1.1,"Female","Yes","Sat","Dinner",2
28.15,3,"Male","Yes","Sat","Dinner",5
11.59,1.5,"Male","Yes","Sat","Dinner",2
7.74,1.44,"Male","Yes","Sat","Dinner",2
30.14,3.09,"Female","Yes","Sat","Dinner",4
12.16,2.2,"Male","Yes","Fri","Lunch",2
13.42,3.48,"Female","Yes","Fri","Lunch",2
8.58,1.92,"Male","Yes","Fri","Lunch",1
15.98,3,"Female","No","Fri","Lunch",3
13.42,1.58,"Male","Yes","Fri","Lunch",2
16.27,2.5,"Female","Yes","Fri","Lunch",2
10.09,2,"Female","Yes","Fri","Lunch",2
20.45,3,"Male","No","Sat","Dinner",4
13.28,2.72,"Male","No","Sat","Dinner",2
22.12,2.88,"Female","Yes","Sat","Dinner",2
24.01,2,"Male","Yes","Sat","Dinner",4
15.69,3,"Male","Yes","Sat","Dinner",3
11.61,3.39,"Male","No","Sat","Dinner",2
10.77,1.47,"Male","No","Sat","Dinner",2
15.53,3,"Male","Yes","Sat","Dinner",2
10.07,1.25,"Male","No","Sat","Dinner",2
12.6,1,"Male","Yes","Sat","Dinner",2
32.83,1.17,"Male","Yes","Sat","Dinner",2
35.83,4.67,"Female","No","Sat","Dinner",3
29.03,5.92,"Male","No","Sat","Dinner",3
27.18,2,"Female","Yes","Sat","Dinner",2
22.67,2,"Male","Yes","Sat","Dinner",2
17.82,1.75,"Male","No","Sat","Dinner",2
18.78,3,"Female","No","Thur","Dinner",2

In [4]:
df = pd.read_csv('tips.csv')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
df.to_csv('my.csv', index=False)

## Excel

In [11]:
df.to_excel('my.xlsx', index=False, sheet_name="abc")

In [12]:
df2 = pd.read_excel('my.xlsx', sheet_name='abc')
df2

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# 3. 데이터 조회

In [13]:
df = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC'), index=list('abcd'))
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

## Series loc, iloc Indexer

### Default index

In [14]:
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

#### signle indexing

In [16]:
s.iloc[1]

20

In [17]:
s.loc[1]

20

In [18]:
s[1]

20

#### slicing

In [22]:
s.iloc[1:3]

1    20
2    30
dtype: int64

In [23]:
s.loc[1:3]

1    20
2    30
3    40
dtype: int64

#### bool indexing

In [25]:
s.loc[[True, False, True, False]]

0    10
2    30
dtype: int64

In [26]:
s.iloc[[True,False,True,False]]

0    10
2    30
dtype: int64

#### Fancy Indexing

In [27]:
s.loc[[0,2]]

0    10
2    30
dtype: int64

### 문자 index

In [28]:
s2 = pd.Series([10,20,30,40],
               index=['a', 'b', 'c', 'd'])
s2

a    10
b    20
c    30
d    40
dtype: int64

#### single indexing

In [30]:
#s2.loc[0] #인덱싱을 a,b,c,d라고했기때문에 에러남
s2.loc['a']

10

In [31]:
s2.iloc[0]

10

In [32]:
s2[0]

10

In [33]:
s2['a']

10

#### slicing

In [34]:
s2.loc['b':'c']

b    20
c    30
dtype: int64

In [35]:
s2.iloc[1:3]

b    20
c    30
dtype: int64

#### bool indexing

In [37]:
s2.loc[[True, False, True, False]]

a    10
c    30
dtype: int64

#### fancy indexing

In [39]:
s2.loc[['a','c']]

a    10
c    30
dtype: int64

In [40]:
s2.iloc[[0,2]]

a    10
c    30
dtype: int64

### 숫자 index

In [41]:
s3 = pd.Series([10,20,30,40],
               index=[1,2,4,5])
s3

1    10
2    20
4    30
5    40
dtype: int64

#### single indexing

In [42]:
s3.loc[1] #인덱스

10

In [43]:
s3.iloc[1] #순번

20

In [44]:
s3[1]

10

#### slicing

In [ ]:
s3.loc[1:3]

1    10
2    20
dtype: int64

In [ ]:
s3.iloc[1:3]

2    20
4    30
dtype: int64

In [ ]:
s3[1:3]

2    20
4    30
dtype: int64

#### bool indexing

#### Fancy indexing

In [45]:
s3.loc[[1,2,4]]

1    10
2    20
4    30
dtype: int64

In [50]:
s3.iloc[[1,2,3]]

2    20
4    30
5    40
dtype: int64

In [53]:
s3[[1,2,4]]

1    10
2    20
4    30
dtype: int64

In [47]:
s3.at[1]

10

In [48]:
s3.iat[1]

20

## DataFrame loc, iloc Indexer

### Default index

In [55]:
df = pd.DataFrame(np.arange(12).reshape(4,3))
df

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

#### 행선택

In [56]:
df.loc[1] #행

0    3
1    4
2    5
Name: 1, dtype: int64

In [57]:
df.iloc[1] #행

0    3
1    4
2    5
Name: 1, dtype: int64

In [58]:
df[1] #열 이렇게 쓰면 안되유

0     1
1     4
2     7
3    10
Name: 1, dtype: int64

In [59]:
df.loc[1, :]

0    3
1    4
2    5
Name: 1, dtype: int64

In [60]:
df.iloc[1, :]

0    3
1    4
2    5
Name: 1, dtype: int64

#### 열선택

In [61]:
df.loc[:, 1]

0     1
1     4
2     7
3    10
Name: 1, dtype: int64

In [62]:
df.iloc[:, 1]

0     1
1     4
2     7
3    10
Name: 1, dtype: int64

#### single indexing

In [64]:
df

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

#### slicing

In [65]:
df.loc[1:2]

   0  1  2
1  3  4  5
2  6  7  8

In [66]:
df.iloc[1:3]

   0  1  2
1  3  4  5
2  6  7  8

In [68]:
df

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [69]:
df.loc[1:2, 1:2]

   1  2
1  4  5
2  7  8

#### bool indexing

In [70]:
df.loc[:, [True, False, True]]

   0   2
0  0   2
1  3   5
2  6   8
3  9  11

In [71]:
df.iloc[:, [True, False, True]]

   0   2
0  0   2
1  3   5
2  6   8
3  9  11

In [73]:
df

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [72]:
df.loc[[True, False, True, False], [True, False, True]]

   0  2
0  0  2
2  6  8

#### Fancy Indexing

In [74]:
df.loc[:,[0,2]]

   0   2
0  0   2
1  3   5
2  6   8
3  9  11

In [75]:
df.iloc[:,[0,2]]

   0   2
0  0   2
1  3   5
2  6   8
3  9  11

In [76]:
df

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [77]:
df.loc[[0,2],[1,2]] #numpy에서는 (0,1), (2,2) 즉 1과 8 2개만 가져옴

   1  2
0  1  2
2  7  8

In [78]:
df.iloc[[0,2], [1,2]]

   1  2
0  1  2
2  7  8

In [80]:
df.values[[0,2,2],[1,2,0]]

array([1, 8, 6])

In [81]:
df.values[[0,2,2],[1,2,2]]

array([1, 8, 8])

#### 혼합

In [83]:
df.loc[[0,2], [True, False, True]]

   0  2
0  0  2
2  6  8

In [82]:
df.loc[1:3, [0,2]]

   0   2
1  3   5
2  6   8
3  9  11

### 문자 index

In [84]:
df2 = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC'), index=list('abcd'))
df2

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

#### single indexing

In [ ]:
df2.loc['c', 'B']

7

In [ ]:
df2.iloc[2, 1]

7

#### slicing, Fancy Indexing

In [85]:
df2.loc['a':'c']

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

In [86]:
df2.iloc[0:3]

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

In [87]:
df2.loc[['a','c'],['A', 'B']]

   A  B
a  0  1
c  6  7

### indexer 접근 속도 비교

In [88]:
%timeit -n 10000 -r 5 df2.loc['c', 'C' ]

9.46 µs ± 457 ns per loop (mean ± std. dev. of 5 runs, 10000 loops each)

In [89]:
%timeit -n 10000 -r 5 df2.at['c', 'C']

4.69 µs ± 468 ns per loop (mean ± std. dev. of 5 runs, 10000 loops each)

In [90]:
%timeit -n 10000 -r 5 df2.iloc[2, 2 ]

29.8 µs ± 500 ns per loop (mean ± std. dev. of 5 runs, 10000 loops each)

In [91]:
%timeit -n 10000 -r 5 df2.iat[2, 2 ]

24.1 µs ± 1.5 µs per loop (mean ± std. dev. of 5 runs, 10000 loops each)

## Series Direct Indexing

### Default index

In [92]:
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

### 문자 index

In [93]:
s1 = pd.Series([10,20,30,40],
              index=['a', 'b', 'c', 'd'])
s1

a    10
b    20
c    30
d    40
dtype: int64

### 숫자 index

In [94]:
s2 = pd.Series([10,20,30,40],
               index=[1,2,3,4])
s2

1    10
2    20
3    30
4    40
dtype: int64

## DataFrame Direct Indexing

### Default index

In [95]:
df = pd.DataFrame(np.arange(12).reshape(4,3))
df

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [97]:
df[1]

0     1
1     4
2     7
3    10
Name: 1, dtype: int64

In [96]:
df[1:3]

   0  1  2
1  3  4  5
2  6  7  8

In [98]:
df[[True, False, True, False]]

   0  1  2
0  0  1  2
2  6  7  8

In [99]:
df[[0,2]]

   0   2
0  0   2
1  3   5
2  6   8
3  9  11

### 문자 index

In [100]:
df1 = pd.DataFrame(np.arange(12).reshape(4,3),
                   columns=list('ABC'),
                   index=list('abcd'))
df1

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

### single indexing

In [103]:
df1['B']['c'] #권장하지 않음

7

In [104]:
df1.loc['c', 'B']

7

In [105]:
df1['a':'c']

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

In [106]:
df1[[True, False, True, False]]

   A  B  C
a  0  1  2
c  6  7  8

In [107]:
df1[['A','C']]

   A   C
a  0   2
b  3   5
c  6   8
d  9  11

In [110]:
df1['A']

a    0
b    3
c    6
d    9
Name: A, dtype: int64

In [108]:
df1.A

a    0
b    3
c    6
d    9
Name: A, dtype: int64

In [111]:
df1.shape

(4, 3)

In [114]:
df1[df1['A'] > 5] #5보다 큰거만

   A   B   C
c  6   7   8
d  9  10  11

## 조건 검색

In [184]:
df = pd.DataFrame({'name': ['Kim', 'Lee', 'Park', 'Choi'],
                   'age': [24, 27, 34, 19],
                   'sex': ['F', 'M', 'F', 'M']})
df

   name  age sex
0   Kim   24   F
1   Lee   27   M
2  Park   34   F
3  Choi   19   M

### 20세 이상 데이터만 검색

In [115]:
df.loc[:, 'age'] >= 20

0     True
1     True
2     True
3    False
Name: age, dtype: bool

In [117]:
df.loc[df.loc[:, 'age'] >= 20, 'name']

0     Kim
1     Lee
2    Park
Name: name, dtype: object

In [185]:
df['age'] >=20

0     True
1     True
2     True
3    False
Name: age, dtype: bool

In [186]:
df[df['age'] >= 20]

   name  age sex
0   Kim   24   F
1   Lee   27   M
2  Park   34   F

In [187]:
df.query('age >= 20')

   name  age sex
0   Kim   24   F
1   Lee   27   M
2  Park   34   F

### 조건 연산

In [122]:
df.loc[:, 'age'] >= 20

0     True
1     True
2     True
3    False
Name: age, dtype: bool

In [124]:
df.loc[:, 'sex']=='F'

0     True
1    False
2     True
3    False
Name: sex, dtype: bool

In [126]:
(df.loc[:, 'age'] >= 20) & (df.loc[:, 'sex']=='F')

0     True
1    False
2     True
3    False
dtype: bool

In [130]:
df.loc[(df.loc[:, 'age'] >= 20) & (df.loc[:, 'sex']=='F'), :]

   name  age sex
0   Kim   24   F
2  Park   34   F

In [129]:
df[(df['age']>=20) & (df['sex']=='F')]

   name  age sex
0   Kim   24   F
2  Park   34   F

In [189]:
df.query('age > 20 & sex=="F"') #query에서는 괄호안해도 우선순위 처리되있다

   name  age sex
0   Kim   24   F
2  Park   34   F

### isin()

In [131]:
df.isin(['Kim', "Lee"])

    name    age    sex
0   True  False  False
1   True  False  False
2  False  False  False
3  False  False  False

In [132]:
df[df['name'].isin(['Lee', 'Kim'])] #유지보수가 유리하다

  name  age sex
0  Kim   24   F
1  Lee   27   M

In [133]:
df[(df['name']=='Kim') | (df['name']=='Lee')]

  name  age sex
0  Kim   24   F
1  Lee   27   M

In [190]:
df.query('name in ["Lee", "Kim"]')

  name  age sex
0  Kim   24   F
1  Lee   27   M

### df.query()

In [191]:
age = 27
sex = 'M'
df.query('age==@age & sex==@sex')

  name  age sex
1  Lee   27   M

## head(), tail()

In [135]:
df = pd.read_csv('tips.csv')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [136]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [137]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

## 정렬

In [138]:
np.random.seed(0)
df = pd.DataFrame(np.random.random((5,4)),
                  columns=list('BADC'),
                  index=[1,0,2,4,3])
df

          B         A         D         C
1  0.548814  0.715189  0.602763  0.544883
0  0.423655  0.645894  0.437587  0.891773
2  0.963663  0.383442  0.791725  0.528895
4  0.568045  0.925597  0.071036  0.087129
3  0.020218  0.832620  0.778157  0.870012

In [139]:
df.sort_index()

          B         A         D         C
0  0.423655  0.645894  0.437587  0.891773
1  0.548814  0.715189  0.602763  0.544883
2  0.963663  0.383442  0.791725  0.528895
3  0.020218  0.832620  0.778157  0.870012
4  0.568045  0.925597  0.071036  0.087129

In [141]:
df.sort_index(axis=1, ascending=False)

          D         C         B         A
1  0.602763  0.544883  0.548814  0.715189
0  0.437587  0.891773  0.423655  0.645894
2  0.791725  0.528895  0.963663  0.383442
4  0.071036  0.087129  0.568045  0.925597
3  0.778157  0.870012  0.020218  0.832620

In [145]:
df.sort_values(by=['A', 'B'], ascending=[True, False])

          B         A         D         C
2  0.963663  0.383442  0.791725  0.528895
0  0.423655  0.645894  0.437587  0.891773
1  0.548814  0.715189  0.602763  0.544883
3  0.020218  0.832620  0.778157  0.870012
4  0.568045  0.925597  0.071036  0.087129

# 기술 통계

In [146]:
df = pd.DataFrame(np.arange(12).reshape(4,3), columns=list('ABC'))
df

   A   B   C
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [148]:
df.describe()

              A          B          C
count  4.000000   4.000000   4.000000
mean   4.500000   5.500000   6.500000
std    3.872983   3.872983   3.872983
min    0.000000   1.000000   2.000000
25%    2.250000   3.250000   4.250000
50%    4.500000   5.500000   6.500000
75%    6.750000   7.750000   8.750000
max    9.000000  10.000000  11.000000

In [149]:
df1 = pd.DataFrame({'name': ['Kim', 'Lee', 'Park', 'Choi'],
                   'age': [24, 27, 34, 19],
                   'sex': ['F', 'M', 'F', 'M']})
df1

   name  age sex
0   Kim   24   F
1   Lee   27   M
2  Park   34   F
3  Choi   19   M

In [151]:
df1.describe()

             age
count   4.000000
mean   26.000000
std     6.271629
min    19.000000
25%    22.750000
50%    25.500000
75%    28.750000
max    34.000000

In [153]:
df1.describe(include='object')

       name sex
count     4   4
unique    4   2
top     Kim   F
freq      1   2

In [155]:
df

   A   B   C
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [157]:
df.sum(), df.values.sum(), df.values.sum(axis=0)

(A    18
 B    22
 C    26
 dtype: int64, 66, array([18, 22, 26]))

In [159]:
df.mean(), df.values.mean()

(A    4.5
 B    5.5
 C    6.5
 dtype: float64, 5.5)

In [160]:
df.sum().sum()

66

In [161]:
df.sum(axis=1)

0     3
1    12
2    21
3    30
dtype: int64

In [162]:
df.loc[0, 'B'] = None
df

   A     B   C
0  0   NaN   2
1  3   4.0   5
2  6   7.0   8
3  9  10.0  11

In [164]:
df.sum(skipna=True)

A    18.0
B    21.0
C    26.0
dtype: float64

In [165]:
df.sum(skipna=False)

A    18.0
B     NaN
C    26.0
dtype: float64

In [166]:
df.agg(['sum', 'mean', 'std'])

              A     B          C
sum   18.000000  21.0  26.000000
mean   4.500000   7.0   6.500000
std    3.872983   3.0   3.872983

In [168]:
def f(y):
  return y.max() - y
df['A'].agg([f])

   f
0  9
1  6
2  3
3  0

In [169]:
import seaborn as sns
#tips = pd.read_csv('tips.csv')
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [171]:
tips['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [172]:
tips['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [173]:
 tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [174]:
tips['sex'].value_counts(normalize=True)

Male      0.643443
Female    0.356557
Name: sex, dtype: float64

In [177]:
tips['day'].value_counts(sort=True, ascending=True)

Fri     19
Thur    62
Sun     76
Sat     87
Name: day, dtype: int64

# 4. 데이터 추가,수정,삭제

## 행 추가

In [192]:
df = pd.DataFrame([[1, 2],
                   [3, 4]],
                   columns=list('BA'),
                   index=list('ab'))
df

   B  A
a  1  2
b  3  4

In [194]:
df.loc['c'] = [5,6]
df

   B  A
a  1  2
b  3  4
c  5  6

In [193]:
df2 = pd.DataFrame([[5, 6],
                    [7, 8]],
                    columns=list('BA'),
                    index=list('ab'))
df2

   B  A
a  5  6
b  7  8

In [195]:
df.append(df2)

   B  A
a  1  2
b  3  4
c  5  6
a  5  6
b  7  8

In [196]:
df.append(df2, verify_integrity=True, ignore_index=True)

   B  A
0  1  2
1  3  4
2  5  6
3  5  6
4  7  8

## 열 추가

In [197]:
df = pd.DataFrame([[1, 2],
                   [11, 22],
                   [111, 222]],
                   columns=list('AB'),
                   index=list('abc'))
df

     A    B
a    1    2
b   11   22
c  111  222

In [198]:
df['C']=[3,33,333]
df

     A    B    C
a    1    2    3
b   11   22   33
c  111  222  333

In [199]:
df['D'] = 4
df

     A    B    C  D
a    1    2    3  4
b   11   22   33  4
c  111  222  333  4

In [200]:
df['E'] = df['A'] + df['B']
df

     A    B    C  D    E
a    1    2    3  4    3
b   11   22   33  4   33
c  111  222  333  4  333

In [204]:
df['F'] = pd.Series([5,55,555], index = list('bcd'))
df

     A    B    C  D    E     F
a    1    2    3  4    3   NaN
b   11   22   33  4   33   5.0
c  111  222  333  4  333  55.0

In [205]:
df = pd.DataFrame([[1, 2],
                   [11, 22],
                   [111, 222]],
                   columns=list('AB'),
                   index=list('abc'))
df

     A    B
a    1    2
b   11   22
c  111  222

In [209]:
df.insert(1, 'AA', [1.5, 15, 155])
df

     A     AA    B
a    1    1.5    2
b   11   15.0   22
c  111  155.0  222

In [211]:
df.insert(2, 'B', [3, 33, 333], allow_duplicates=True)
df

     A     AA    B    B    B
a    1    1.5    3    3    2
b   11   15.0   33   33   22
c  111  155.0  333  333  222

## 행/열 삭제

In [213]:
df = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC'),
                  index=list('abcd'))
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [214]:
df.drop('b')

   A   B   C
a  0   1   2
c  6   7   8
d  9  10  11

In [215]:
df.drop('B', axis=1)

   A   C
a  0   2
b  3   5
c  6   8
d  9  11

In [216]:
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [217]:
df.drop('b', inplace=True)
df

   A   B   C
a  0   1   2
c  6   7   8
d  9  10  11

## 누락 데이터

In [218]:
np.nan

nan

In [219]:
df = pd.DataFrame([[1,2,3],
                   [4, None, None],
                   [None, None, None],
                   [None, 5,6]])
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  5.0  6.0

In [222]:
df.iloc[1,1] == df.iloc[1,1]

False

In [223]:
df.isna()

       0      1      2
0  False  False  False
1  False   True   True
2   True   True   True
3   True  False  False

In [224]:
df.isnull()

       0      1      2
0  False  False  False
1  False   True   True
2   True   True   True
3   True  False  False

In [225]:
df.isnull().sum()

0    2
1    2
2    2
dtype: int64

In [227]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  5.0  6.0

In [226]:
df.dropna()

     0    1    2
0  1.0  2.0  3.0

In [228]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [229]:
df.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  NaN
3  NaN  5.0  6.0

In [230]:
df.dropna(thresh=2)

     0    1    2
0  1.0  2.0  3.0
3  NaN  5.0  6.0

In [232]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  5.0  6.0

In [231]:
df.fillna({0:0, 1:1, 2:2})

     0    1    2
0  1.0  2.0  3.0
1  4.0  1.0  2.0
2  0.0  1.0  2.0
3  0.0  5.0  6.0

In [233]:
df.fillna(df.mean()) #df.mean이 컬럼단위기 때문에 딕셔너리 형태로 안해줘도 된다.

     0    1    2
0  1.0  2.0  3.0
1  4.0  3.5  4.5
2  2.5  3.5  4.5
3  2.5  5.0  6.0

In [235]:
df.fillna(method='ffill')

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  3.0
2  4.0  2.0  3.0
3  4.0  5.0  6.0

In [234]:
df.fillna(method='bfill') # 맨 아래가 NaN이거나 그러면 응애 그래서 위아래로 둘다 해주거나 하면 굿

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  NaN  5.0  6.0
3  NaN  5.0  6.0

In [236]:
df = pd.DataFrame([1, None, 3, 4,None, 6, 7],
                  index=[1,5,6,9,10,11,20])
df

      0
1   1.0
5   NaN
6   3.0
9   4.0
10  NaN
11  6.0
20  7.0

In [237]:
df.interpolate(method='linear')

      0
1   1.0
5   2.0
6   3.0
9   4.0
10  5.0
11  6.0
20  7.0

In [238]:
df.interpolate(method='index')

      0
1   1.0
5   2.6
6   3.0
9   4.0
10  5.0
11  6.0
20  7.0

In [239]:
df.interpolate(method="values")

      0
1   1.0
5   2.6
6   3.0
9   4.0
10  5.0
11  6.0
20  7.0

# 4. 데이터 변환

## astype()

In [240]:
df = pd.DataFrame({'A':[1,2,3,4],
                   'B': [1.2, 2.3, 3.4, 4.5],
                   'C': ['10', '20', '30', '40'],
                   'D': ['3.14', '4.12', '0.1', '1.23']})
df

   A    B   C     D
0  1  1.2  10  3.14
1  2  2.3  20  4.12
2  3  3.4  30   0.1
3  4  4.5  40  1.23

In [241]:
df.dtypes

A      int64
B    float64
C     object
D     object
dtype: object

In [242]:
df.shape

(4, 4)

In [244]:
df.astype('float64').dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [245]:
df.astype(np.float64).dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [247]:
df['C'] = df['C'].astype(np.int32)
df.dtypes

A      int64
B    float64
C      int32
D     object
dtype: object

In [249]:
df.astype({'A':'float64', 'D':'float64'}).dtypes

A    float64
B    float64
C      int32
D    float64
dtype: object

## 문자열

In [250]:
df = pd.DataFrame({'A': ['$1,234', '$2,345', '$123'],
                   'B': ['111-222', '222-333', '333-444'],
                   'C': ['12m', '234g', '1234v']})
df

        A        B      C
0  $1,234  111-222    12m
1  $2,345  222-333   234g
2    $123  333-444  1234v

In [256]:
s = '$1,234'
int(s.replace('$', '').replace(',', ''))*2

2468

In [261]:
df['A'].str.replace('$', '').str.replace(',', '').astype('int64')*2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

0    2468
1    4690
2     246
Name: A, dtype: int64

In [262]:
'111-222'.split('-')

['111', '222']

In [265]:
df['B'].str.split('-').str[0]

0    111
1    222
2    333
Name: B, dtype: object

In [266]:
df['B'].str.split('-').str[1]

0    222
1    333
2    444
Name: B, dtype: object

In [267]:
df['C'].str.extract(r'(^[0-9]*)([a-z])')

      0  1
0    12  m
1   234  g
2  1234  v

## to_numeric()

In [269]:
df = pd.DataFrame({'A': ['10', '20', '30', '40'],
                   'B': ['3.14', '4.12', '0.1', '1.23'],
                   'C': ['12', '23', 'four', '55'],
                   'D': ['1,234', '12,345', '234', '21,345']
                  })

In [270]:
pd.to_numeric(df['A'])

0    10
1    20
2    30
3    40
Name: A, dtype: int64

In [271]:
pd.to_numeric(df['B'])

0    3.14
1    4.12
2    0.10
3    1.23
Name: B, dtype: float64

In [277]:
#df['C'].astype('int64') four 때문에 에러남
pd.to_numeric(df['C'], errors='coerce')

0    12.0
1    23.0
2     NaN
3    55.0
Name: C, dtype: float64

In [278]:
pd.to_numeric(df['C'], errors='ignore')

0      12
1      23
2    four
3      55
Name: C, dtype: object

In [281]:
pd.to_numeric(df['A'], downcast='unsigned')

0    10
1    20
2    30
3    40
Name: A, dtype: uint8

In [282]:
pd.to_numeric(df['B'], downcast='integer') #눈치 봐가면서 바꾼다 책임지지 못할짓 안함

0    3.14
1    4.12
2    0.10
3    1.23
Name: B, dtype: float64

## where()

In [283]:
df = pd.DataFrame(np.random.random((5,4)), columns=list('ABCD'))
df

          A         B         C         D
0  0.978618  0.799159  0.461479  0.780529
1  0.118274  0.639921  0.143353  0.944669
2  0.521848  0.414662  0.264556  0.774234
3  0.456150  0.568434  0.018790  0.617635
4  0.612096  0.616934  0.943748  0.681820

In [285]:
df.where(df > 0.5, other=0)

          A         B         C         D
0  0.978618  0.799159  0.000000  0.780529
1  0.000000  0.639921  0.000000  0.944669
2  0.521848  0.000000  0.000000  0.774234
3  0.000000  0.568434  0.000000  0.617635
4  0.612096  0.616934  0.943748  0.681820

## transform(), apply()

In [286]:
df = pd.DataFrame(np.arange(12).reshape(4,3), columns=list('ABC'))
df

   A   B   C
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [287]:
df.transform(lambda v: v+10)

    A   B   C
0  10  11  12
1  13  14  15
2  16  17  18
3  19  20  21

In [289]:
df.transform(lambda v : v.mean() - v)

     A    B    C
0  4.5  4.5  4.5
1  1.5  1.5  1.5
2 -1.5 -1.5 -1.5
3 -4.5 -4.5 -4.5

In [293]:
df.apply(lambda v : v.mean() -5) #갯수가 다를대만 apply써야만 한 경우

A   -0.5
B    0.5
C    1.5
dtype: float64

# 인덱스 관리

In [294]:
df = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC'),
                  index=list('abcd'))
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [295]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [296]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [299]:
df.index[0], df.columns[2], df.index[1:3]

('a', 'C', Index(['b', 'c'], dtype='object'))

## index name 속성

## 인덱스 이름 변경

In [300]:
df = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC'),
                  index=list('abcd'))
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [302]:
#df.index[3] = 'x'  # 값을 바꾸는건 안된다.
df.index = ['a','b','c','x'] # 바꿔줄꺼면 다 바꿔줘야함
df
#개 많으면 힘듬 그래서 rename이란게 있는거임

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
x  9  10  11

In [303]:
df.rename({'a':'first'})

       A   B   C
first  0   1   2
b      3   4   5
c      6   7   8
x      9  10  11

In [304]:
df.rename({"A" : 'AA'}, axis=1)

   AA   B   C
a   0   1   2
b   3   4   5
c   6   7   8
x   9  10  11

In [305]:
df.rename(index={'b':'second'})

        A   B   C
a       0   1   2
second  3   4   5
c       6   7   8
x       9  10  11

In [306]:
df.rename(columns={'B':'BB'})

   A  BB   C
a  0   1   2
b  3   4   5
c  6   7   8
x  9  10  11

## 인덱스 재설정

In [307]:
df = pd.DataFrame(np.arange(12).reshape(4,3),
                  columns=list('ABC'),
                  index=list('abcd'))
df['D'] = [10,20,10,20]
df

   A   B   C   D
a  0   1   2  10
b  3   4   5  20
c  6   7   8  10
d  9  10  11  20

In [309]:
df.set_index('A')

    B   C   D
A
0   1   2  10
3   4   5  20
6   7   8  10
9  10  11  20

In [310]:
df['D'].is_unique

False

In [311]:
df['A'].is_unique

True

## 인덱스 초기화

In [312]:
df.reset_index()

  index  A   B   C   D
0     a  0   1   2  10
1     b  3   4   5  20
2     c  6   7   8  10
3     d  9  10  11  20

In [313]:
df.reset_index(drop=True)

   A   B   C   D
0  0   1   2  10
1  3   4   5  20
2  6   7   8  10
3  9  10  11  20

In [314]:
df

   A   B   C   D
a  0   1   2  10
b  3   4   5  20
c  6   7   8  10
d  9  10  11  20

In [315]:
df.reindex(labels=['b','a','d','c'], axis=0)

   A   B   C   D
b  3   4   5  20
a  0   1   2  10
d  9  10  11  20
c  6   7   8  10

In [316]:
df.reindex(['B','A','D','C'], axis=1)

    B  A   D   C
a   1  0  10   2
b   4  3  20   5
c   7  6  10   8
d  10  9  20  11

In [317]:
df

   A   B   C   D
a  0   1   2  10
b  3   4   5  20
c  6   7   8  10
d  9  10  11  20

In [319]:
df[['B', 'A', 'D', 'C']]

    B  A   D   C
a   1  0  10   2
b   4  3  20   5
c   7  6  10   8
d  10  9  20  11

## Multi Index

In [320]:
df

   A   B   C   D
a  0   1   2  10
b  3   4   5  20
c  6   7   8  10
d  9  10  11  20

In [322]:
df.index = [['a','a','b','b'], [0,1,0,1]]
df

     A   B   C   D
a 0  0   1   2  10
  1  3   4   5  20
b 0  6   7   8  10
  1  9  10  11  20

In [323]:
df.loc['a']

   A  B  C   D
0  0  1  2  10
1  3  4  5  20

In [324]:
df.loc[('a',0)]

A     0
B     1
C     2
D    10
Name: (a, 0), dtype: int64

In [325]:
df.loc[('a',0), 'B']

1

# 병합과 집계

## concat

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

In [ ]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [ ]:
df3 = pd.DataFrame({'E': ['E1', 'E2', 'E3', 'E4'],
                    'F': ['F1', 'F2', 'F3', 'F4']},
                   index=[2,3,4,5])
df3

    E   F
2  E1  F1
3  E2  F2
4  E3  F3
5  E4  F4

## Merge

In [ ]:
df1 = pd.DataFrame({
    'key' : ['K1', 'K2', 'K3'],
    'l_value' : [1,2,3]
})
df2 = pd.DataFrame({
    'key': ['K0', 'K1', 'K3' ],
    'r_value' :[4,5,6]
})

In [ ]:
df1

  key  l_value
0  K1        1
1  K2        2
2  K3        3

In [ ]:
df2

  key  r_value
0  K0        4
1  K1        5
2  K3        6

## Pivot

In [ ]:
url_flights = 'https://www.dropbox.com/s/3d09f5fwlze4156/flights.csv?dl=1'
file_flights = 'flights.csv'
import os
if os.name == 'posix:
  !wget -O $file_flights $url_flights
else:
  !pip install wget
  import wget
  wget.download(url_flights, out=file_flights)

In [ ]:
#flights = pd.read_csv('flights.csv')
flights = sns.load_dataset()
flights

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

## groupby

# 시계열, 범주 데이터

## 날짜 데이터(dtype: datetime64)

In [ ]:
s = pd.Series(['20210101', '20210125', '20211115'])
s

0    20210101
1    20210125
2    20211115
dtype: object

## pd.to_datetime()
* format : https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes
* Time/date components : https://pandas.pydata.org/docs/user_guide/timeseries.html#time-date-components
* offset-aliases : https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-offset-aliases
* time zone : https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

In [ ]:
df = pd.DataFrame({'year': [2017, 1987, 1945],
                   'month': [3,6,8],
                   'day': [10, 10, 15]})
pd.to_datetime(df)

0   2017-03-10
1   1987-06-10
2   1945-08-15
dtype: datetime64[ns]

In [ ]:
df = pd.DataFrame({'date': pd.to_datetime(['2017-03-10', '1987-06-10'])})
df

        date
0 2017-03-10
1 1987-06-10

## date_range()

## 날짜 계산

## 날짜 인덱스

In [ ]:
df = pd.DataFrame(np.random.randn(4,3),
                 index=pd.date_range('20210125', periods=4),
                 columns=list('ABC'))
df

                   A         B         C
2021-01-25  0.803138  1.692356 -0.435747
2021-01-26 -0.517309  1.023791 -0.498187
2021-01-27  0.955013  0.331539 -0.567991
2021-01-28 -0.467417  0.206285 -0.803872

## 범주 데이터 (dtype: category)

In [ ]:
s = pd.Series(['a', 'b', 'c', 'a'])
s

0    a
1    b
2    c
3    a
dtype: object

## pd.Categorical()

In [ ]:
cat = pd.Categorical(['a', 'b', 'c', 'a'], categories=['a','b','c'])
cat

['a', 'b', 'c', 'a']
Categories (3, object): ['a', 'b', 'c']

## pd.cut()